<!--<h1 class="titulo-series">Listado de Series de TV</h1>-->
<h1 class="titulo-tv-shows">Listado de Series de TV</h1>

<p>esta el es la segunda</p>
<a href="/welcome">go back to welcome page</a>
<%= link_to 'go back to welcome page', welcome_path %>
