<!-- app/views/pages/welcome.html.erb -->
<h1 class="titulo-welcome">My Favorite TV Series</h1>
<p>Pagina de welcome</p>


<!--<a href="/tv_shows">go to series list</a> -->
<%= link_to 'go to series list', tv_shows_path %>
<%= image_tag('iron-man.jpg',size:"520x650", alt:"Iron Man")%>
